.mydiv {
    text-align: center;
    background-color: darkcyan;
    padding: 20px 20px;
    display: inline-block;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    border-radius: 3px;
}

.mydiv>button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(25, 42, 44);
}

.mydiv>button:hover {
    background-color: #929292
}

.mydiv>button:active {
    background-color: #929292;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.logout>button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(25, 42, 44);
}
.logout>button:hover {
    background-color: #929292
}
.logout>button:active {
    background-color: #929292;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}